<div id="enjoy">
  <span>Anime-se e crie coisas!</span>
</div>
<div id="copyright">
  <p id="noosfero-license">Este site utiliza o software livre <a href="http://www.noosfero.org/" id="link-noosfero">Noosfero</a>, licenciado sob a licença <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a>, versão 3 ou superior.  </p>
</div><!-- end id="copyright" -->

