<div id="go-home">
  <%= link_to("<span class='heart'></span><span>Home</span>",'/'+profile.identifier) %>
</div>
<div id="logo">
  <a>
    <span class="rg">Rails Girls</span>
    <span class="ssa">Salvador</span>
</a>
</div>
